<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
  {{{markup}}}
  {{#if data}}
    <script>
      window.Data = {{{data}}};
    </script>
  {{/if}}
  <!-- async script load -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript';
       po.async = true; po.src = './application.js';
      var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(po, s);
    })();
  </script>
</body>
</html>
