*, *:before, *:after
  box-sizing border-box

html
  font-size: 100%
  overflow-y: scroll
  text-size-adjust: 100%

body
  font-size: 13px
  font-family: 'Helevtica Nueue', Helvetica, Arial, sans-serif
  font-smooth: always
  font-weight: 400
